<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TwitZerg</title>
    <link href="/css/admin.css"  rel="stylesheet">
</head>
<body>
    <header>
       
        
    </header>
<main>
<h1>
    <%= title %>
</h1>
<p>
    <%= msg %>
</p>
<p><a href="javascript:history.go(-1)">Volver atrás</a></p>
</main>
<%- include('partials/footer.ejs') %>