<nav>
  <ul class="nav-menu">
    <li class="nav-menu-item">
      <details>
        <summary>Menú</summary>
        <ul>
          <li><a href="/">HOME</a></li>
          <li><a href="/search">Búsquedas</a></li>
          <li><a href="/myEntries">Mis entradas</a></li>
          <li><a href="/post">Escribir entrada</a></li>
          <li><a href="/logout">Cerrar sesión</a></li>
        </ul>
      </details>
    </li>
  </ul>
</nav>

