
<nav>

      
        
  <i class="fas fa-bars"></i>
 <div class="navDiv">
    <a href="/search">Búsquedas</a>
    <a href="/myEntries">Mis entradas</a>
    <a href="/post">Escribir entrada</a>
    <a href="/Entries?pag=1">Entradas</a>
    <a href="/logout">Cerrar sesión</a>
 </div>


</nav>
