<nav>

      
        
          <i class="fas fa-bars"></i>
         <div class="navDiv">
            <a href="/login">Login</a>
            <a href="/search">Búsquedas</a>
            <a href="/Entries?pag=1">Entradas</a>
         </div>
        
      
  </nav>