<nav>

      
        
          <i class="fas fa-bars"></i>
         <div class="navDiv">
            <a id="login">Login</a>
            <a href="/signup">Registro</a>
            <a href="/search">Búsquedas</a>
            <a href="/Entries?pag=1">Entradas</a>
         </div>
        
      
  </nav>

  <section class="loginSection displayHidden">
   <form method="post" action="/log/" class="formContainer">
      <span class="material-symbols-outlined closeSymbol">
         close
         </span>
      <img alt="Logo de la empresa" src="/media/newlogo.png">
      <input type="text" name="email" placeholder="e-mail">
      <input type="password" name="password" placeholder="contraseña">
      <input type="submit" value="Entrar" class="button">
  
  </form>
  </section>