<nav>
    <ul class="nav-menu">
      <li class="nav-menu-item">
        <details>
          <summary><i class="fas fa-bars"></i></summary>
          <ul>
            <li><a href="/">Login</a></li>
            <li><a href="/search">Búsquedas</a></li>
            <li><a href="/Entries?pag=1">Entradas</a></li>
          </ul>
        </details>
      </li>
    </ul>
  </nav>