<%- include('partials/header.ejs') %>
<main>
<h1>
    <%= title %>
</h1>
<p>
    <%= msg %>
</p>
<a class="backLink" href="javascript:history.go(-1)"><img src="/media/descarga.png" alt="imagen de descarga">
    <span>Volver atrás</span>
</a>
</main>
<%- include('partials/footer.ejs') %>