<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TwitZerg</title>
    <link href="../css/main.css"  rel="stylesheet">
</head>
<body>
    <header>
        
    </header>
<main>
<h1>
    <%= title %>
</h1>
<p>
    <%= msg %>
</p>
<form method="post" action="/signup" class="signupForm">
    <input type="text" name="name" placeholder="nombre">
    <input type="text" name="surname" placeholder="Pseudónimo">
    <input type="text" name="email" placeholder="e-mail">
    <input type="text" name="image" placeholder="URL de tu avatar">
    <input type="password" name="password" placeholder="contraseña">
    <input type="submit" value="Registrar">

</form>
</main>
<%- include('partials/footer.ejs') %>