* {
  margin: 0;
  padding:0;
  font-family: monospace;
  
}

body {
  background-color: rgb(198, 229, 243);
}

h1, p {
  text-align: center;
}

a {
  text-decoration: none;
}

summary {
  color:white;
  margin-left: 20px;
}

/* botones */
button, .button {
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  background-color: rgb(29, 161, 242);
  color: #fff;
  transition: background-color 0.1s ease-in-out;
  border:none;
}

/* Estilos para el efecto al pasar el mouse */
button:hover, .button:hover {
  background-color: rgb(24, 24, 159);
}

header, footer {
  display:flex;
  height: 100px;
  background-color: rgb(29, 161, 242);
  align-items: center;
  text-align: center;

}

footer {
  margin-top:10px;
}

.logo {
  width: 123px;
  height: 99px;
}



form input {
  display: block;
  margin-bottom: 10px; 
}

.formContainer {
  display:flex;
  justify-content: center; 
  align-items: center;  
  flex-direction: column;

}

.buttonCenter {
  display: flex; 
  justify-content: center; 
  text-decoration: none;
}



.mainInfo {
  justify-content: center; 
  align-items: center; 
  display: flex; /* Aplicar flexbox para centrar verticalmente y horizontalmente */
  flex-direction: column;
  justify-content: center; 
  align-items: center;
  height: 25vh;
}

.mainInfo h1,
.mainInfo p {
  text-align: center; 
}

.container {
  display: grid;
  grid-template-columns: 50px 1.40fr 0.60fr 70px;
  grid-template-rows: 20px 1fr 1fr 20px;
  width: 80%;
  margin: 5% auto;
  height: 200px;
  /* gap: 5px; */
  /* background-image: linear-gradient(to bottom right, #c6e7ff, #8bc6ff); */
  /* border: 1px solid blue; */
  padding:5px;
  color: white;
}


.gridTitle {
  background-color:  rgb(29, 161, 242);
    grid-column: 1 / 5;
}

.gridDate {
    grid-column: 3 / 5;
    grid-row: 1 / 2;
    overflow: hidden;
    background-color: rgb(24, 24, 159);
}

.gridReadMore {

  grid-column: 3 / 4;
  grid-row: 4 / 5;
}

.gridContent {
  background-color: rgba( 29, 161, 242, 0.70);
  position: absolute;
    overflow: hidden;
    gap:5px;
    color: white;
    width:100%;
    bottom:0;
}

.gridName {
  color:  black;
    grid-column: 1 / 3;
    grid-row: 4 / 5;
}

.gridEdit {
  text-decoration: none;
  text-align: right;
  grid-column: 3 / 5;
  grid-row: 4 / 5;
}

.gridImage {
  position:relative;
  display:grid;
  width:100%;
  height:100%;
    grid-column: 1 / 5;
    grid-row: 2 / 4;
    overflow:hidden;
}

.entryImage {
  width:100%;
  height:100%;
}

.containerOne {
  display:grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 20px 1fr 1fr 200px 50px;
    width: 400px;
    margin:5% auto;
    height:550px;
    gap:5px;
    background-image: linear-gradient(to bottom right, #bacde7, #5ebbf0);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    
}

.gridContentOne {
  
    grid-column: 1 / 4;
    grid-row: 4 / 5;
  text-align: left;
  border-bottom: 2px solid black;
    
}

.gridEditOne {
  text-align: center;
  grid-column: 2 / 3;
  grid-row: 5 / 6;
}

.buttonEditOne {
  text-align: center;
  grid-column: 2 / 3;
  grid-row:6 / 7 ;
}

.miniImg {
  width: 70px;
  height: 50px;
}
/* aqui para */

.nav-menu {
  display: flex;
  gap: 10px; /* Espacio entre los elementos del menú */
  position: relative; /* Para posicionar el menú desplegable correctamente */
}

.nav-menu-item {
  display: flex;
  align-items: center;
}

.nav-menu-item details {
  cursor: pointer;
}

.nav-menu-item details summary {
  outline: none;
}

.nav-menu-item ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: none; /* Ocultar inicialmente el menú desplegable */
  position: absolute; /* Posicionar el menú desplegable */
  top: 100%; /* Posicionar el menú desplegable debajo del botón "Menú" */
  left: 0; /* Alinear el menú desplegable a la izquierda del botón "Menú" */
  z-index: 9999; /* Establecer el z-index para que el menú esté por encima de otros elementos */
  background-color: #f2f2f2; /* Color de fondo del menú desplegable */
  min-width: 150px; /* Ancho mínimo del menú desplegable */
}

.nav-menu-item details[open] ul {
  display: block; /* Mostrar el menú desplegable al hacer clic en "Menú" */
}

/* Estilos para los elementos del menú */
.nav-menu-item a {
  text-decoration: none;
  padding: 10px; /* Espacio alrededor del texto del enlace */
  display: block;
  color: #000; /* Color del texto del enlace */
  transition: background-color 0.3s ease; /* Transición de color de fondo al pasar el ratón por encima */
}

.nav-menu-item a:hover {
  background-color: #00f; /* Color de fondo del enlace al pasar el ratón por encima */
  color: #fff; /* Color del texto del enlace al pasar el ratón por encima */
}

/* input del search */
.search {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 15px auto;
  padding: 0;
}

.search input[type="text"] {
  flex: 1;
  padding: 10px;
}

.search input[type="submit"] {
  margin-left: 0px;
  padding: 10px;
}

/* form del registro */

.signupForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  width: 300px; /* ajusta el ancho según tus necesidades */
}

.signupForm input {
  margin-bottom: 10px;
  padding: 10px;
  width: 100%;
}

.signupForm input[type="submit"] {
  margin-top: 10px;
}

/* form del update */

.updateForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  margin: 15px auto;
 border-top: 2px solid blue;
  width: 300px; /* ajusta el ancho según tus necesidades */
}

.updateForm input, textarea {
  margin-bottom: 10px;
  padding: 10px;
  width: 100%;
}

.updateForm input[type="submit"] {
  margin-top: 10px;
}

.pages {
  text-align: center;
}









  
  





  
  