<nav>
    <ul>
      <li><a href="/admin/">Últimas entradas</a></li>
      <li><a href="/admin/search">Búsquedas</a></li>
      <li><a href="/admin/myEntries">Mis entradas</a></li>
      <li><a href="/admin/post">Escribir entrada</a></li>
      <li><a href="/logout">Cerrar sesión</a></li>
    </ul>
  </nav>