<nav>
  <ul class="nav-menu">
    <li class="nav-menu-item">
      <details>
        <summary><i class="fas fa-bars"></i></summary>
        <ul>
          <li><a href="/admin/">ENTRADAS</a></li>
          <li><a href="/admin/search">Búsquedas</a></li>
          <li><a href="/admin/myEntries">Mis entradas</a></li>
          <li><a href="/admin/post">Escribir entrada</a></li>
          <li><a href="/admin/logout">Cerrar sesión</a></li>
        </ul>
      </details>
    </li>
  </ul>
</nav>
